.litta-date-picker {
    &__wrapper {
        display: flex;
    }

    &__title {
        width: 100%;
    }

    &__cards-wrapper {
        display: flex;
        border-radius: 17px 17px 16px 16px;
        max-width: 480px;
        border: 1px solid rgba(142, 168, 190, 0.16);
        min-width: 200px;
        overflow-y: hidden;
        overflow-x: auto;

        font-family: 'Inter', sans-serif;
        font-size: 13px;
        line-height: 20px;
        background-color: #f7f8fa;
    }

    &__week-arrow-wrapper {
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__week-arrow {
        padding: 20px;
        cursor: pointer;
    }
}
