.litta-date-picker-card {
    display: flex;
    justify-content: flex-start;
    transition: all 0.5s ease;
    align-items: center;
    flex-direction: column;
    width: 68px;

    &__week-slot {
        height: 32px;
        background: rgba(142, 168, 190, 0.08);
        font-size: 12px;
        border-bottom: 1px solid rgba(142, 168, 190, 0.16);
        color: #29343da3;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        text-transform: capitalize;
    }

    &__date-slot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        transition: all 0.5s ease-out;
        width: 100%;
        height: 72px;
        align-items: center;
        font-weight: 600;
    }

    &__selected {
        color: #fff !important;
        background-color: #ff4f2f;
    }

    &__available {
        color: rgb(66, 65, 65);
        font-weight: bold;
        cursor: pointer;
    }

    &__non-available {
        color: #91919f;
        cursor: not-allowed;
    }
}
